<script>
	/** @type {import('./$types').ActionData} */
	export let form;
</script>
<h1>Welcome to PilotagePlanner</h1>
<form  method="POST" >
    <input type="text" name="start_id" value="hello">
    <input type="text" name="end_id" value="world">
    <button >Launch navigation computing</button>
    {#if form?.success}
        <h1>Launched ! </h1>
    {/if}
</form>
