POSTGRES_DB={{ postgres_db }}
POSTGRES_HOST={{ postgres_host }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
NEO4J_AUTH={{ neo4j_password }}
GRAPH_HOST={{ graph_host }}
REDIS_HOST={{ redis_host }}
